
# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins
plugins/woocommerce

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
